@import "colors.scss";

.blackButton {
    border: 2px solid white;
    color: $white;
    height:64px;
    width: 245px;
    background: transparent;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 2.5px;
}
.blackButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.blackButton:disabled {
    opacity: 0.5;
}
    


.whiteButton{
    border:1px solid black;
    color:white;
    height:64px;
    width: 245px;
    background: black;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 2.5px;
    
}

.whiteButton:hover {
    background-color: white;
    color: black;  
    cursor: pointer;  
}


.whiteButton:disabled {
    opacity: 0.5;
}

.reservationButtonWhite{
    border:1px solid black;
    color:$white;
    height:64px;
    width: 444px;
    background: black;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 2.5px;
    text-align: center;
}
.reservationButtonBlack{
    border: 2px solid white;
    color: black;
    height:64px;
    width: 444px;
    background: transparent;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 2.5px;
    text-align: center;
}

.menuButton{
    border: 2px solid white;
    color: $white;
    height:64px;
    width: 245px;
    background: transparent;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 2.5px;
}

.menuButton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}