@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;800;900&display=swap");
body {
  font-family: "League Spartan";
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: -1px;
  font-family: League Spartan;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  font-family: League Spartan;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: League Spartan;
  letter-spacing: -0.25px;
}

h4 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  font-family: League Spartan;
  letter-spacing: 2.5px;
  color: rgb(76, 76, 76);
}

.text1 {
  font-size: 20px;
  line-height: 30px;
  font-family: League Spartan;
  font-weight: 400;
}

.text2 {
  font-size: 16px;
  line-height: 26px;
  font-family: League Spartan;
  font-weight: 400;
}

.text1_2 {
  font-size: 20px;
  line-height: 30px;
  font-family: League Spartan;
  font-weight: 400;
}

.blackButton {
  border: 2px solid white;
  color: #FFF;
  height: 64px;
  width: 245px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.blackButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.blackButton:disabled {
  opacity: 0.5;
}

.whiteButton {
  border: 1px solid black;
  color: white;
  height: 64px;
  width: 245px;
  background: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.whiteButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.whiteButton:disabled {
  opacity: 0.5;
}

.reservationButtonWhite {
  border: 1px solid black;
  color: #FFF;
  height: 64px;
  width: 444px;
  background: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 2.5px;
  text-align: center;
}

.reservationButtonBlack {
  border: 2px solid white;
  color: black;
  height: 64px;
  width: 444px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 2.5px;
  text-align: center;
}

.reservationButtonWhite:hover {
  background-color: #FFF;
  cursor: pointer;
  color: black;
}

.menuButton {
  border: 2px solid white;
  color: #FFF;
  height: 64px;
  width: 245px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.menuButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.home {
  height: 820px;
  width: 1440px;
  background-color: black;
  position: relative;
}
.home .imagineFundalHome {
  position: absolute;
  top: 0;
  right: 0;
}
.home h1 {
  width: 508px;
  color: #FFF;
  margin-bottom: 0px;
  position: absolute;
  top: 150px;
  left: 165px;
  z-index: 1;
}
.home .text1 {
  width: 445px;
  height: 60px;
  color: #FFF;
  position: absolute;
  top: 370px;
  left: 165px;
  z-index: 1;
}
.home .logo {
  padding-left: 167px;
  padding-top: 65px;
}
.home .blackButton {
  position: absolute;
  top: 500px;
  left: 165px;
}
.home .menuButton {
  position: absolute;
  top: 600px;
  left: 165px;
}
.home .loginBtn {
  position: absolute;
  top: 58px;
  left: 700px;
  border: none;
  color: #FFF;
  height: 64px;
  width: 245px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}
.home .loginBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.home i {
  position: absolute;
  top: 74px;
  left: 740px;
  font-size: 30px;
  color: white;
}
.home i:hover {
  cursor: pointer;
}

.description {
  width: 1440px;
  height: 1440px;
  background-color: #FFF;
  position: relative;
}
.description .rectangle {
  width: 895px;
  height: 320px;
  background-color: rgb(92, 103, 121);
  border-radius: 0px 100px 0px 0px;
  opacity: 0.0774;
  position: absolute;
  top: 235px;
}
.description .peisaj {
  position: absolute;
  left: 90px;
  top: -65px;
  z-index: 1;
}
.description .firstH2 {
  width: 445px;
  color: hsl(218, 21%, 18%);
  padding-left: 830px;
  margin-bottom: 0;
}
.description .text1 {
  width: 445px;
  color: hsl(218, 21%, 18%);
  padding-left: 830px;
}
.description .line1 {
  padding-left: 830px;
  padding-top: 177px;
}
.description .plaiting {
  position: absolute;
  bottom: -65px;
  right: 180px;
  z-index: 1;
}
.description .rectangle2 {
  width: 895px;
  height: 320px;
  background-color: rgb(92, 103, 121);
  border-radius: 100px 0px 0px 0px;
  opacity: 0.0774;
  position: absolute;
  right: 0;
  bottom: 0;
}
.description .burgerMenu {
  position: absolute;
  bottom: 282px;
  right: 70px;
  z-index: 1;
}
.description .line2 {
  padding-left: 165px;
  padding-top: 600px;
}
.description .secondH2 {
  width: 445px;
  color: hsl(218, 21%, 18%);
  padding-left: 165px;
  margin-bottom: 0;
}
.description .text1_2 {
  width: 445px;
  color: hsl(218, 21%, 18%);
  padding-left: 165px;
}

.highlights {
  height: 761px;
  width: 1440px;
  background: #111;
  display: flex;
  flex-shrink: 0;
}
.highlights .intro {
  width: 445px;
  color: #FFF;
  padding-left: 165px;
  padding-top: 200px;
}
.highlights .menuItems {
  width: 720px;
  color: #FFF;
  padding-top: 255px;
  margin-left: 30px;
}
.highlights .menuItems .thinLine {
  width: 32px;
  height: 1px;
  padding-top: 10px;
}
.highlights .menuItems .salmon {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1494);
  padding-bottom: 30px;
  position: relative;
}
.highlights .menuItems .beef {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1494);
  position: relative;
}
.highlights .menuItems .mousse {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.highlights .menuItems .itemsText {
  position: absolute;
  width: 350px;
  height: 80px;
  padding-left: 62px;
  right: 165px;
  bottom: 65px;
}

.familyGathering {
  width: 1440px;
  height: 1400px;
  background-color: #FFF;
  display: flex;
}
.familyGathering .family {
  height: 809.191px;
  width: 540px;
  padding-top: 160px;
  padding-left: 165px;
}
.familyGathering .familyText {
  width: 445px;
  padding-top: 175px;
  padding-left: 125px;
}
.familyGathering .rectangle3 {
  width: 895px;
  height: 320px;
  background-color: rgb(92, 103, 121);
  border-radius: 0px 100px 0px 0px;
  opacity: 0.0774;
  position: absolute;
  left: -350px;
}
.familyGathering .burgerMenu2 {
  width: 160px;
  height: 76px;
  position: absolute;
  padding-top: 122px;
  padding-left: 120px;
}
.familyGathering .whiteButton {
  margin-bottom: 45px;
  margin-top: 45px;
}
.familyGathering .h4opacity {
  opacity: 0.5;
}
.familyGathering .h4opacity_1 {
  opacity: 0.5;
}
.familyGathering .rectangle4 {
  width: 95px;
  height: 1px;
  background: #9E7F66;
  position: absolute;
  margin-top: 603px;
  margin-left: 705px;
}

.reservationSection {
  width: 1440px;
  height: 1126px;
  margin-top: -443px;
  padding-left: -248px;
}
.reservationSection .reservationImage {
  background-color: black;
  position: relative;
}
.reservationSection .reservationImage .blackButton {
  position: absolute;
  right: 165px;
  top: 85px;
}
.reservationSection .reservationImage .reservationText {
  position: absolute;
  width: 650px;
  height: 48px;
  z-index: 1;
  color: white;
  left: 165px;
  top: 55px;
}
.reservationSection .contact {
  width: 1440px;
  height: 240px;
  background-color: black;
  position: relative;
}
.reservationSection .address {
  width: 244px;
  height: 84px;
  color: #FFF;
  position: absolute;
  left: 461px;
  top: 55px;
  z-index: 1;
}
.reservationSection .program {
  width: 446px;
  height: 84px;
  color: #FFF;
  position: absolute;
  z-index: 1;
  right: 165px;
  top: 55px;
}
.reservationSection .smallLogo {
  position: absolute;
  left: 165px;
  top: 55px;
}

.specialEvents {
  width: 1440px;
  height: 1400px;
  background-color: #FFF;
  display: flex;
  margin-top: -500px;
}
.specialEvents .specialEventsImage {
  height: 809.191px;
  width: 540px;
  padding-top: 160px;
  padding-left: 165px;
}
.specialEvents .specialEventsText {
  width: 445px;
  padding-top: 175px;
  padding-left: 125px;
}
.specialEvents .rectangle4 {
  width: 895px;
  height: 320px;
  background-color: rgb(92, 103, 121);
  border-radius: 0px 100px 0px 0px;
  opacity: 0.0774;
  position: absolute;
  left: -350px;
}
.specialEvents .burgerMenu3 {
  width: 160px;
  height: 76px;
  position: absolute;
  padding-top: 122px;
  padding-left: 120px;
}
.specialEvents .whiteButton {
  margin-bottom: 45px;
  margin-top: 45px;
}
.specialEvents .h4opacity {
  opacity: 0.5;
}
.specialEvents .rectangle5 {
  width: 95px;
  height: 1px;
  background: #9E7F66;
  position: absolute;
  margin-top: 652px;
  margin-left: 705px;
}

.socialEvents {
  width: 1440px;
  height: 1400px;
  background-color: #FFF;
  display: flex;
  margin-top: -500px;
}
.socialEvents .socialEventsImage {
  height: 809.191px;
  width: 540px;
  padding-top: 160px;
  padding-left: 165px;
}
.socialEvents .socialEventsText {
  width: 445px;
  padding-top: 175px;
  padding-left: 125px;
}
.socialEvents .rectangle5 {
  width: 895px;
  height: 320px;
  background-color: rgb(92, 103, 121);
  border-radius: 0px 100px 0px 0px;
  opacity: 0.0774;
  position: absolute;
  left: -350px;
}
.socialEvents .burgerMenu4 {
  width: 160px;
  height: 76px;
  position: absolute;
  padding-top: 122px;
  padding-left: 120px;
}
.socialEvents .whiteButton {
  margin-bottom: 45px;
  margin-top: 45px;
}
.socialEvents .h4opacity {
  opacity: 0.5;
}
.socialEvents .rectangle6 {
  width: 95px;
  height: 1px;
  background: #9E7F66;
  position: absolute;
  margin-top: 732px;
  margin-left: 705px;
}

.bookingSection {
  width: 1440px;
  height: 1120px;
  margin-top: -450px;
  position: relative;
}
.bookingSection .bookingImage {
  position: relative;
}
.bookingSection .bookingImage .image {
  width: 1440px;
  height: 600px;
  opacity: 1;
  position: absolute;
  filter: brightness(30%);
}
.bookingSection .bookingImage .dineLogo {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 1170px;
}
.bookingSection .bookingImage .bookingText {
  color: #FFF;
  position: absolute;
  width: 445px;
  height: 80px;
  left: 170px;
  top: 150px;
}
.bookingSection .contactBooking {
  position: relative;
  width: 1440px;
  height: 240px;
  background-color: black;
  top: 600px;
}
.bookingSection .addressBooking {
  width: 244px;
  height: 84px;
  color: #FFF;
  position: absolute;
  left: 461px;
  top: 55px;
  z-index: 1;
}
.bookingSection .programBooking {
  width: 446px;
  height: 84px;
  color: #FFF;
  position: absolute;
  z-index: 1;
  right: 165px;
  top: 55px;
}
.bookingSection .smallLogoBooking {
  position: absolute;
  left: 165px;
  top: 55px;
}/*# sourceMappingURL=main.css.map */