@import "typography.scss";
@import "colors.scss";
@import "buttons.scss";



.home{
    height: 820px;
    width:1440px;
    background-color: black;
    position: relative;
    .imagineFundalHome{
        position: absolute;
        top: 0;
        right: 0;
    }
    h1 {
        width: 508px;
        color: $white;
        margin-bottom: 0px;
        position: absolute;
        top: 150px;
        left: 165px;
        z-index: 1;
    }
    .text1{
        width:445px;
        height: 60px;
        color: $white;
        position: absolute;
        top: 370px;
        left: 165px;
        z-index: 1;
    }
    
    
    .logo{
        padding-left: 167px;
        padding-top: 65px;
    }
    .blackButton{
        position: absolute;
        top: 500px;
        left: 165px;
        
    }
    .menuButton{
        position: absolute;
        top: 600px;
        left: 165px;
    }
}

.description{
    width: 1440px;
    height: 1440px;
    background-color: $white;
    position: relative;
    .rectangle{
        width: 895px;
        height: 320px;
        background-color: $rectangle;
        border-radius: 0px 100px 0px 0px;
        opacity: 0.0774;
        position: absolute;
        top: 235px;
    }
    .peisaj{
        position: absolute;
        left:90px;
        top:-65px;
        z-index: 1;
    }
    
    .firstH2{
        width: 445px;
        color: $ebonyclay;
        padding-left: 830px;
        margin-bottom: 0;
        
    }
    .text1{
        width: 445px;
        color: $ebonyclay;
        padding-left: 830px;
    }

    .line1{
        padding-left: 830px;
        padding-top: 177px;
    }

    .plaiting{
        position: absolute;
        bottom: -65px;
        right: 180px;
        z-index: 1;
    }
    .rectangle2{
        width: 895px;
        height: 320px;
        background-color: $rectangle;
        border-radius: 100px 0px 0px 0px;
        opacity: 0.0774;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .burgerMenu{
        position: absolute;
        bottom: 282px;
        right: 70px;
        z-index: 1;
    }
    .line2{
        padding-left: 165px;
        padding-top: 600px;
    }
    .secondH2{
        width: 445px;
        color: $ebonyclay;
        padding-left: 165px;
        margin-bottom: 0;
    }
    .text1_2{
        width: 445px;
        color: $ebonyclay;
        padding-left: 165px;
    }
    
}

.highlights{
    height: 761px;
    width: 1440px;
    background: #111;
    display: flex;
    flex-shrink: 0;
    .intro{
        width: 445px;
        color: $white;
        padding-left: 165px;
        padding-top: 200px;
    }
    .menuItems{
        width: 720px;
        color:$white;
        padding-top: 255px;
        margin-left:30px ;
        .thinLine{
            width: 32px;
            height: 1px;
            padding-top: 10px;
        }
        .salmon{
            display:flex;
            border-bottom: 1px solid rgb(255, 255, 255, 0.1494);
            padding-bottom: 30px;
            position: relative;
        }
        
        .beef{
            display: flex;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgb(255, 255, 255, 0.1494);
            position: relative;
        }
        .mousse{
            display: flex;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
        }
        .itemsText{
            position: absolute;
            width: 350px;
            height: 80px;
            padding-left: 62px;
            right: 165px;
            bottom: 65px;
        }
    }
}

.familyGathering{
    width: 1440px;
    height: 1400px;
    background-color: $white;
    display: flex;
    .family{
        height: 809.191px;
        width: 540px;
        padding-top: 160px;
        padding-left: 165px;
    }
    .familyText{
        width: 445px;
        padding-top: 175px;
        padding-left: 125px;
    }
    .rectangle3{
        width: 895px;
        height: 320px;
        background-color: $rectangle;
        border-radius: 0px 100px 0px 0px;
        opacity: 0.0774;
        position: absolute;
        left: -350px;
    }
    .burgerMenu2{
        width: 160px;
        height: 76px;
        position: absolute;
        padding-top: 122px;
        padding-left: 120px;
    }
    .whiteButton{
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .h4opacity{
        opacity: 0.5;
    }
    .h4opacity_1{
        opacity: 0.5;
    }
    .rectangle4{
        width: 95px;
        height: 1px;
        background: #9E7F66;
        position: absolute;
        margin-top:603px ;
        margin-left: 705px;
    }


}

.reservationSection{
    width: 1440px;
    height: 1126px;
    margin-top: -443px;
    padding-left: -248px;
    .reservationImage{
        background-color: black;
        position: relative;
        .blackButton{
            position: absolute;
            right: 165px;
            top:85px;
        }
        .reservationText{
            position: absolute;
            width: 650px;
            height: 48px;
            z-index: 1;
            color: white;
            left:165px;
            top: 55px;
        }
    }
    .contact{
        width: 1440px;
        height: 240px;
        background-color:black;
        position: relative;
    }
    .address{
        width: 244px;
        height: 84px;
        color: $white;
        position: absolute;
        left: 461px;
        top: 55px;
        z-index: 1;
    }
    .program{
        width: 446px;
        height: 84px;
        color: $white;
        position: absolute;
        z-index: 1;
        right: 165px;
        top: 55px;
    }
    .smallLogo{
        position: absolute;
        left: 165px;
        top: 55px;
    }
}

.specialEvents{
    width: 1440px;
    height: 1400px;
    background-color: $white;
    display: flex;
    margin-top: -500px;
    .specialEventsImage{
        height: 809.191px;
        width: 540px;
        padding-top: 160px;
        padding-left: 165px;
    }
    .specialEventsText{
        width: 445px;
        padding-top: 175px;
        padding-left: 125px;
    }
    .rectangle4{
        width: 895px;
        height: 320px;
        background-color: $rectangle;
        border-radius: 0px 100px 0px 0px;
        opacity: 0.0774;
        position: absolute;
        left: -350px;
    }
    .burgerMenu3{
        width: 160px;
        height: 76px;
        position: absolute;
        padding-top: 122px;
        padding-left: 120px;
    }
    .whiteButton{
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .h4opacity{
        opacity: 0.5;
    }
    .rectangle5{
        width: 95px;
        height: 1px;
        background: #9E7F66;
        position: absolute;
        margin-top:652px ;
        margin-left: 705px;
    }

}

.socialEvents{
    width: 1440px;
    height: 1400px;
    background-color: $white;
    display: flex;
    margin-top: -500px;
    .socialEventsImage{
        height: 809.191px;
        width: 540px;
        padding-top: 160px;
        padding-left: 165px;
    }
    .socialEventsText{
        width: 445px;
        padding-top: 175px;
        padding-left: 125px;
    }
    .rectangle5{
        width: 895px;
        height: 320px;
        background-color: $rectangle;
        border-radius: 0px 100px 0px 0px;
        opacity: 0.0774;
        position: absolute;
        left: -350px;
    }
    .burgerMenu4{
        width: 160px;
        height: 76px;
        position: absolute;
        padding-top: 122px;
        padding-left: 120px;
    }
    .whiteButton{
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .h4opacity{
        opacity: 0.5;
    }
    .rectangle6{
        width: 95px;
        height: 1px;
        background: #9E7F66;
        position: absolute;
        margin-top:732px ;
        margin-left: 705px;
    }

}

.bookingSection{
    width: 1440px;
    height: 1120px;
    margin-top: -450px;
    position: relative;
    .bookingImage{
        position: relative;
        .image{
        width: 1440px;
        height: 600px;
        opacity: 1;
        position: absolute;
        filter: brightness(30%);
        
        }
        .dineLogo{
            position: absolute;
            z-index: 1;
            top: 60px;
            right: 1170px;
        }
        .bookingText{
            color: $white;
            position: absolute;
            width: 445px;
            height: 80px;
            left: 170px;
            top:150px
        }
    }
    .bookingRectangle{
        position: absolute;
        top: 600px;
        left: 0px;
        width: 993px;
        height: 320px;
        background-color: $rectangle;
        border-radius: 0px 0px 100px 0px;
        opacity: 0.0774;
    }
    .burgerMenuBooking{
        width: 160px;
        height: 76px;
        position: absolute;
        top: 766px;
        left: 655px;
    }
    .contactBooking{
        position: relative;
        width: 1440px;
        height: 240px;
        background-color:black;
        top: 920px;
    }
    .addressBooking{
        width: 244px;
        height: 84px;
        color: $white;
        position: absolute;
        left: 461px;
        top: 55px;
        z-index: 1;
    }
    .programBooking{
        width: 446px;
        height: 84px;
        color: $white;
        position: absolute;
        z-index: 1;
        right: 165px;
        top: 55px;
    }
    .smallLogoBooking{
        position: absolute;
        left: 165px;
        top: 55px;
    }
    
    
    
    .bookingForm{
        height: 545px;
        width: 540px;
        position: absolute;
        top: 258px;
        right: 165px;
        background-color: $white;
        #name{
            height: 43px;
            width: 444px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-top: 50px;
            margin-left: 48px;
        }
        #email{
            height: 43px;
            width: 444px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-left: 48px;
            margin-top: 34px;
        }
        .pickDate{
            display: flex;
            margin-left: 48px;
            text-align: center;
        }
        .pickTime{
            display: flex;
            margin-left: 48px;
        }
        #day{
            width: 80px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-right: 16px;
            margin-left: 62px;
        }
        #month{
            width: 80px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-right: 16px;
        }
        #year{
            width: 97px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            
        }
        #hours{
            width: 80px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-right: 16px;
            margin-left: 62px;
        }
        #minutes{
            width: 80px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-right: 16px;
        }
        .phoneNumber{
            display: flex;
            margin-left: 48px;
        }
        #phoneNumber{
            width: 180px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-left: 25px;
        }
        .guestsNumber{
            display: flex;
            margin-left: 48px;
        }
        #guests{
            width: 150px;
            height: 43px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #8E8E8E;
            margin-left: 25px;
        }
        .reservationButtonWhite{
            margin-left: 48px;
        }
    }
}    

