@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;800;900&display=swap");
body {
  font-family: "League Spartan";
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: -1px;
  font-family: League Spartan;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  font-family: League Spartan;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: League Spartan;
  letter-spacing: -0.25px;
}

h4 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  font-family: League Spartan;
  letter-spacing: 2.5px;
  color: rgb(76, 76, 76);
}

.text1 {
  font-size: 20px;
  line-height: 30px;
  font-family: League Spartan;
  font-weight: 400;
}

.text2 {
  font-size: 16px;
  line-height: 26px;
  font-family: League Spartan;
  font-weight: 400;
}

.text1_2 {
  font-size: 20px;
  line-height: 30px;
  font-family: League Spartan;
  font-weight: 400;
}

.blackButton {
  border: 2px solid white;
  color: #FFF;
  height: 64px;
  width: 245px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.blackButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.blackButton:disabled {
  opacity: 0.5;
}

.whiteButton {
  border: 1px solid black;
  color: white;
  height: 64px;
  width: 245px;
  background: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.whiteButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.whiteButton:disabled {
  opacity: 0.5;
}

.reservationButtonWhite {
  border: 1px solid black;
  color: #FFF;
  height: 64px;
  width: 444px;
  background: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 2.5px;
  text-align: center;
}

.reservationButtonBlack {
  border: 2px solid white;
  color: black;
  height: 64px;
  width: 444px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 2.5px;
  text-align: center;
}

.reservationButtonWhite:hover {
  background-color: #FFF;
  cursor: pointer;
  color: black;
}

.menuButton {
  border: 2px solid white;
  color: #FFF;
  height: 64px;
  width: 245px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
}

.menuButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.bookingSection {
  width: 1440px;
  height: 1120px;
  margin-top: -450px;
  position: relative;
  margin-top: 10px;
}
.bookingSection .bookingImage {
  position: relative;
}
.bookingSection .bookingImage .image {
  width: 1440px;
  height: 600px;
  opacity: 1;
  position: absolute;
  filter: brightness(30%);
}
.bookingSection .bookingImage .dineLogo {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 1170px;
}
.bookingSection .bookingImage .bookingText {
  color: #FFF;
  position: absolute;
  width: 445px;
  height: 80px;
  left: 170px;
  top: 150px;
}
.bookingSection .bookingRectangle {
  position: absolute;
  top: 600px;
  left: 0px;
  width: 993px;
  height: 320px;
  background-color: rgb(92, 103, 121);
  border-radius: 0px 0px 100px 0px;
  opacity: 0.0774;
}
.bookingSection .burgerMenuBooking {
  width: 160px;
  height: 76px;
  position: absolute;
  top: 766px;
  left: 655px;
}
.bookingSection .contactBooking {
  position: relative;
  width: 1440px;
  height: 240px;
  background-color: black;
  top: 920px;
}
.bookingSection .addressBooking {
  width: 244px;
  height: 84px;
  color: #FFF;
  position: absolute;
  left: 461px;
  top: 55px;
  z-index: 1;
}
.bookingSection .programBooking {
  width: 446px;
  height: 84px;
  color: #FFF;
  position: absolute;
  z-index: 1;
  right: 165px;
  top: 55px;
}
.bookingSection .smallLogoBooking {
  position: absolute;
  left: 165px;
  top: 55px;
}
.bookingSection .bookingForm {
  height: 545px;
  width: 540px;
  background-color: #FFF;
  position: absolute;
  top: 258px;
  right: 165px;
}
.bookingSection .bookingForm #name {
  height: 43px;
  width: 444px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8E8E8E;
  margin-top: 50px;
  margin-left: 48px;
}
.bookingSection .bookingForm #email {
  height: 43px;
  width: 444px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8E8E8E;
  margin-left: 48px;
  margin-top: 34px;
}
.bookingSection .bookingForm .pickDate {
  display: flex;
  margin-left: 48px;
  text-align: center;
}
.bookingSection .bookingForm .pickTime {
  display: flex;
  margin-left: 48px;
}
.bookingSection .bookingForm #date {
  width: 160px;
  height: 40px;
  border: none;
  outline: none;
  margin-right: 16px;
  margin-left: 62px;
  margin-top: 10px;
  font-size: 20px;
}
.bookingSection .bookingForm #hours {
  width: 160px;
  height: 43px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8E8E8E;
  margin-right: 16px;
  margin-left: 62px;
  font-size: 20px;
}
.bookingSection .bookingForm .phoneNumber {
  display: flex;
  margin-left: 48px;
}
.bookingSection .bookingForm #phoneNumber {
  width: 180px;
  height: 43px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8E8E8E;
  margin-left: 25px;
}
.bookingSection .bookingForm .guestsNumber {
  display: flex;
  margin-left: 48px;
}
.bookingSection .bookingForm #guests {
  width: 150px;
  height: 43px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8E8E8E;
  margin-left: 25px;
}
.bookingSection .bookingForm .reservationButtonWhite {
  margin-left: 48px;
}/*# sourceMappingURL=reservationForm.css.map */